<%- include('partials/header') %>

<!-- <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script> -->



<div class="container">
	<div class="jumbotron">
		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds">
			<button class="btn btn-lg btn-primary"> 
				List of campgrounds
			</button>			
		</a>
		
	</div>

<body>
	<h1>testing 2</h1>
</body>


<script type="text/javascript" src="/homepage.js"></script>

<%- include('partials/footer') %>

