<!DOCTYPE html>
<html>
<head>
	<title>
	 YelpCamp
	</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/homepage.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	
</head>
<body class="d-flex align-items-center justify-content-center">
	<div class="row">
		<div class="col">
			<h1>Welcome to YelpCamp!</h1>
			<div class="row d-flex justify-content-center" >
				<a href="/campgrounds" class="btn btn-success btn-lg ">
					List of campgrounds
				</a>
			</div>
		</div>
	</div>

	<img>

	<script type="text/javascript" src="/homepage.js"></script>
	
</body>

</html>

