<%- include('partials/header') %>

<div class="container">
	<div class="jumbotron">
		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds">
			<button class="btn btn-lg btn-primary"> 
				List of campgrounds
			</button>			
		</a>
		
	</div>




	<%- include('partials/footer') %>
	
</div>

