img {
	width: 10vw;
	height: 30vh;
}

.inShow {
	/*width: 10vw;*/
	height: 60vh;
}

#detailedImage {
	width: 50vw;
	height: 50vh;
}

.comment {
	font-size: 0.9em;
}

.col-height{
	height: 4vh;
}

.authorFooter {
	color: gray;
	font-size: 0.8em;
}

.deleteBtn {
	display: inline;
}

.editBtn {
	color: white;
}